.card-2 {
  padding-left: 180px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.card-2-element{
  position: relative;
  display:inline-block;
  justify-content: space-between;
  width: 35.3%;
  height: 210px;
  margin: 2.8em;
  overflow: hidden;
  background: #FFF;
  box-shadow: -9px 7px 4px rgba(0, 0, 0, 0.04);
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}

.card-2-element img{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%,-50%);
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}
.card-2-element:hover img{top:30%;opacity: 0.5;}

.card-2-element .overlay{
  position: absolute;
  bottom:calc(-80% + 50px);
  left: 0px;
  width: 100%;
  height: 80%;
  background: #FFF;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}
.card-2-element:hover .overlay{bottom:0px;}

.card-2-element .overlay .line {
  width: 100%;
  text-align: left;
  line-height: 50px;
  padding:0em 1em;
}

.card-2-element .overlay .line .line-number {
  font-family: 'Poppins', sans-serif; 
  font-weight: 500; 
  font-size: 14.5px;
}

.card-2-element .overlay .content {
  text-align: left;
  padding-left: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 868px) {
  .card-2 {
    padding-left: 180px;
    padding-top: 1px;
  }
  
  .card-2-element{
    position: relative;
    width: 34%;
    height: 154px;
    margin: 2em;
    overflow: hidden;
  }

  .card-2-element .overlay .content {
    padding-left: 1.4em;
    font-size: 9px;
    width: 250px;
  }

  .card-2-element .overlay .line .line-number {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    font-size: 11.5px; 
    text-align: center;
  }
}


@media screen and (max-width: 600px){

  .card-2 {
    padding-left: 50px;
    padding-top: 1px;
  }

  .card-2-element{
    width: 88%;
    height: auto;
    margin: 1em 0em;
  }

  .card-2-element:hover img{
    top:30%;
    opacity: 0.5;
  }

  .card-2-element .overlay{
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
  }
  .card-2-element img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
  }
  .card-2-element:hover .overlay {
    bottom:0px;
  }
  .card-2-element:hover img {
    top:50%;
    opacity: 1;
  }

  .card-2-element .overlay .content {
    padding-left: 2em;
    font-size: 10px;
    width: 300px;
  }

  .card-2-element .overlay .line .line-number {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    font-size: 13px; 
    text-align: center;
  }
}
