@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&display=swap");

:root {
  --white-element: #fafafa;
  --orange-element: #de8643;
  --blue-element: #1f5ccf;
  --white-background-1: #f5f8fd;
  --white-background-2: #fcfcfc;
  --title-page: #2f2f2f;
  --desc-black: #1d1d1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Navbar */

.home-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 22.3%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

.about-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 31.4%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

.tujuan-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 42%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

.inovasi-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 51.7%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

.keunggulan-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 61.6%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

.kontak-nav {
  position: absolute;
  width: auto;
  height: auto;
  left: 74.3%;
  top: 40px;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: var(--white-element);
  text-decoration: none;
}

/* Home */

.home {
  width: 100%;
  height: 821px;
  background-color: var(--blue-element);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.logistic {
  animation: melayang 5s infinite;
}

@keyframes melayang {
  50% {
    transform: translate(0px, 5px);
  }
}

.title-text {
  width: 1000px;
}

.title-home {
  width: max-content;
}

.title {
  position: relative;
  left: 12%;
  bottom: 1058px;

  font-family: "Poppins", sans-serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 195px;
  /* or 152% */
  letter-spacing: 0.04em;
  color: var(--white-element);
}

.subtitle-1 {
  position: relative;
  left: 12.8%;
  bottom: 1035px;

  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  color: var(--white-element);
}

.subtitle-2 {
  position: relative;
  height: 58px;
  width: 554px;
  left: 12.6%;
  bottom: 1080px;

  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  /* or 152% */
  letter-spacing: 0.06em;
  color: var(--white-element);
}

.button-detail {
  position: absolute;
  width: 232px;
  top: 550px;
  height: 63px;
  left: 8.7%;
  bottom: 27%;

  border-radius: 30px;
  background-color: var(--white-element);
  filter: drop-shadow(3px 29px 23px rgba(0, 0, 0, 0.1));
}

.button-detail .detail {
  position: absolute;
  height: 49px;
  width: 230px;
  left: 0.6%;
  bottom: -8%;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  text-align: center;
  color: var(--title-page);
}

.button-detail:hover {
  position: absolute;
  width: 232px;
  height: 63px;
  left: 8.7%;
  bottom: 27%;

  border-radius: 30px;
  background-color: var(--orange-element);
  filter: drop-shadow(3px 29px 23px rgba(0, 0, 0, 0.1));
}

.button-detail:hover .detail:hover {
  position: absolute;
  height: 49px;
  width: 230px;
  left: 0.6%;
  bottom: -8%;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  text-align: center;
  color: var(--white-element);
}

/* About */

.about {
  background-color: var(--white-background-1);
  background-image: url(/img/About.svg);
  width: 100%;
  height: 821.5px;
  padding: 0 auto;
  margin: 0 auto;
}

.robot {
  animation: terbang 5s infinite;
}

@keyframes terbang {
  50% {
    transform: translate(0px, 20px);
  }
}

.latar-belakang .title {
  position: relative;
  width: 500px;
  left: 50%;
  bottom: 400px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  text-align: left;
  line-height: 43px;
  /* or 81% */

  color: var(--title-page);
}

.latar-belakang .desc {
  position: relative;
  height: 556px;
  width: 609px;
  left: 50%;
  bottom: 360px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: left;
  line-height: 31px;
  /* or 81% */

  color: var(--desc-black);
}

.blue-square-about {
  position: relative;
  width: 58px;
  height: 60px;
  left: 95.9%;
  bottom: 1182px;

  background: var(--blue-element);
}

/* Tujuan */

.tujuan {
  background-color: var(--white-background-2);
  background-image: url(/img/Tujuan.svg);
  width: 100%;
  height: 65rem;
  z-index: -1;
  padding: 0 auto;
  margin: 0 auto;
}

.title-tujuan {
  text-align: center;
  margin: 20px;
  padding-top: 40px;
}

.title-tujuan h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

.title-tujuan h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 20px;
  margin: 0px 200px 0px 200px;
}

.card-title {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
  margin: 50px;
}

.cardt1 img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(-9px 4px 4px rgba(0, 0, 0, 0.04));
}

.cardt1 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.Efisien {
  padding-top: 20px;
}

.cardt2 img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(-9px 4px 4px rgba(0, 0, 0, 0.04));
}

.cardt2 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
}

.cardt3 img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(-9px 4px 4px rgba(0, 0, 0, 0.04));
}

.cardt3 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.card-title2 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin: 50px;
}

.cardt4 img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(-9px 4px 4px rgba(0, 0, 0, 0.04));
}

.cardt4 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.cardtM {
  padding-top: 20px;
}

.cardt5 img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(-9px 4px 4px rgba(0, 0, 0, 0.04));
}

.cardt5 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.cardtMe {
  padding-top: 20px;
}

/* Inovasi */

.inovasi {
  background-color: var(--white-background-1);
  background-image: url(/img/Inovasi.svg);
  width: 100%;
  height: 821.2px;
  z-index: -1;
  padding: 0 auto;
  margin: 0 auto;
}

.container-inovasi {
  display: flex;
  padding-top: 500px;
  padding: 60px;
}

.inovasi-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 75px;
}

.inovasi-title p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.inoP {
  padding-top: 30px;
}

.inovasi-img img {
  width: 580px;
  height: 400px;
  margin-right: 30px;
  background-blend-mode: darken;
}

/* Keunggulan */

.keunggulan {
  background-color: var(--white-background-2);
  background-image: url(/img/Keunggulan.svg);
  width: 100%;
  height: 821.2px;
  z-index: -1;
  padding: 0 auto;
  margin: 0 auto;
}

.keunggulan {
  padding: 50px;
}

.keunggulan h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}

.keunggulan-title1 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
}

.keunggulan-title2 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 40px;
  text-align: center;
}

/* Kontak */

.kontak {
  background-color: var(--white-background-1);
  background-image: url(/img/Kontak.svg);
  width: 100%;
  height: 821.2px;
  z-index: -1;
  padding: 0 auto;
  margin: 0 auto;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 69px;

  background: #2d2d2d;
}

.footer .text-center {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 31px;
  /* or 207% */

  top: 20px;
  text-align: center;

  color: var(--white-element);
}
