@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white-element: #FAFAFA;
  --orange-element: #DE8643;
  --blue-element: #1F5CCF;
  --white-background-1: #F5F8FD;
  --white-background-2: #FCFCFC;
  --title-page: #2F2F2F;
  --desc-black: #1D1D1E;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: var(--white-element);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: var(--white-element);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 80px;
  text-decoration: none;
  transition: all 0.3s ease;

  z-index: 2;
}
.menu-list li a:hover{
  color: var(--orange-element);
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}


@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .navbar .logo a{
    font-size: 20px;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
    margin-right: 25px;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all 0.3s ease;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all 0.3s ease;
  }

  .content{
    margin: auto;
    padding: 0px 30px;
  }

  .navbar.sticky{
    width: 100%;
    padding: 10px 0;
    background: none;
  }

  .navbar .logo a{
    visibility: hidden;
  }
}
